#party{
	animation: party 1s ease infinite;
}

@keyframes party {
	0% {
    	color: red; 
	}
	50% {
    	color: blue; 
	}
	100% {
		color: red;
	} 
}

td {
	font-size: 40px;
	/*padding-left: 20px;*/
	width: 100px;
	height: 100px;
	background-color: red;
}