#party{
	animation: party 1s ease infinite;
}

@keyframes party {
	0% {
    	color: red; 
	}
	50% {
    	color: blue; 
	}
	100% {
		color: red;
	} 
}

#party2{
	animation: partyBorder 1s ease infinite;
}

@keyframes partyBorder {
	0%{
		border: 2px dotted red; 
	}
	25% {
		border: 2px dashed blue; 
	}
	50% {
		border: 2px dotted red; 
	}
	75% {
		border: 2px dashed blue; 
	}
	100% {
		border: 2px dotted red; 
	} 
}

#board table {
	float: left;
}

#board td {
	font-size: 40px;
	/*padding-left: 20px;*/
	width: 100px;
	height: 100px;
	background-color: #255C69;
	text-align: center;
	color: white;
	border-radius: 25px;
	font-family: sans-serif;
}

.boardWin {
	animation: winPartyTable 1s ease infinite;
}

@keyframes winPartyTable {
	0% {
		background-color: red;
		border-radius: 25px;
		transform: rotate(0deg);
	}
	50% {
		background-color: blue;
		border-radius: 0px;
		transform: rotate(180deg);
	}
	100% {
		background-color: red;
		border-radius: 25px;
		transform: rotate(360deg);
	} 
}
#scoreBoard aside {
	margin: 5%;
	float: left;
}

#scoreBoard table {
    border-collapse: collapse;
}

#scoreBoard td {
	border: 2px solid black;
	margin: 0px;
	text-align: center;
	padding: 0px 10px;
}

#reset {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

#winner {	
	animation: winParty 1s linear infinite;	
}

@keyframes winParty {
	0% {
		color: red;
		font-size: 100px;
	}
	50% {
		color: blue;
		font-size: 50px;
	}
	100% {
		color: red;
		font-size: 100px;
	} 
}

#playerNames p {
	display: inline-block;
}

#playerNames input {
	display: inline-block;
}